body{
    min-height: 450px;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/2825881.gif");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.format{
    width: 350px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.8);
}
input{
    color: #fff;
    padding: 17px;
    outline: none;
    font-size: 30px;
    border-radius: 25%;

}
.num{
    width: 64px;
    height: 67px;

}
.text{
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}
.text1{
    width: 24px;
    height: 26px;
    border-radius: 50%;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}
.main{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
       
}
.maincolor{
    background-color: black;

}
.ora{
    color: black;
}
.pur{
    color: black;
}
.pin{
    color: black;
}
.blue{
    color: black;
}
.gre{
    color: black;
}